body{
    display: flex;
    flex-direction: column;
    font-family: roboto, "Times New Roman", Times, serif;
}
.top-row{
    display: flex;
    align-items: center;
}
.links-container{
    display: flex;
    margin-left: auto;
    gap: 20px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
#big-text{
    font-size: 48px;
    font-weight: 1000;
    max-width: 500px;
}
#small-text{
    font-size: 18px;
}
.top-align{
display: flex;
justify-content: space-between;
gap: 100px;
}

.top-content button {
    background-color: #3882F6; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 600;
  }

.header{
    background-color: #1F2937;
    padding-bottom: 50px;
    color: #F9FAF8;
}
.padding{
    margin-left: 200px;
    margin-right: 200px;
}
.padding-big{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.empty-filler{
    flex: 1 1 0;
}

.cards-row{
    display: flex;
    justify-content: center;
}
.card{
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
}

.box{
    height: 250px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}
.central{
    text-align: center;
}

.quote{
    background-color: #E5e7eb;
    display: flex;
    align-items: center;
    
    
}
.quote-text{
    display: flex;
    flex-direction: column;
     width: 800px;
     margin-top: 100px;
     margin-bottom: 100px;
}
.quote p{
    font-size: xx-large;
    color: #1F2937;
    font-style: italic;
    font-weight: 200;
    text-align: justify;
    margin-bottom: 0px;
   

}

#signature{
    color: black;
    margin-top: 5px;
   align-self: flex-end;
  
}

.ad{
    display: flex;
}

.ad-box{
    background-color: #3882F6;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 20px;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.call-to-action{
    color: #E5e7eb;
    font-weight: 800;
    padding-left: 100px;
    font-size: 20px;
    margin-bottom: 5px;
}
.sign-up{
    color: #E5e7eb;
    font-weight: 200;
    padding-left: 100px;
    font-size: 20px;
    margin-top: 0px;
}

.ad button{
    background-color: #3882F6; /* Green */
    border: 2px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 600;
    width: 150px;
    height: 50px;
    align-self: center;
}

.footer{
    background-color: #1F2937;
    padding: 25px;
    text-align: center;
    color: #E5e7eb;
}
